<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sistem Rekam Data Pasien</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>

<div class="container my-2">
    <h1>Daftar Pasien</h1>

    <a th:href="@{/showNewPatientForm}" class="btn btn-primary btn-sm mb-3"> Tambah Pasien </a>

    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th>NIK</th>
                <th>
                    <a th:href="@{'/page/' + ${currentPage} + '?sortField=nama&sortDir=' + ${reverseSortDir}}">
                        Nama Pasien</a>
                </th>
                <th>Jenis Kelamin</th>
                <th>Tgl Lahir</th>
                <th>Telepon</th>
                <th>Keluhan</th>
                <th>Aksi</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="patient : ${listPatients}">
                <td th:text="${patient.nik}"></td>
                <td th:text="${patient.nama}" style="font-weight: 600; color: #2c3e50;"></td>
                <td th:text="${patient.jenisKelamin}"></td>
                <td th:text="${patient.tanggalLahir}"></td>
                <td th:text="${patient.nomorTelepon}"></td>
                <td th:text="${patient.keluhan}"></td>
                <td>
                    <a th:href="@{/showFormForUpdate/{id}(id=${patient.id})}" class="btn btn-warning btn-sm" style="color: white;">Edit</a>
                    
                    <a th:href="@{/deletePatient/{id}(id=${patient.id})}" class="btn btn-danger btn-sm" onclick="return confirm('Yakin hapus?');">Hapus</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div th:if="${totalPages > 1}">
        <div class="row col-sm-12">
            <div class="col-sm-2">Total: [[${totalItems}]]</div>
            <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
                <span th:unless="${currentPage < totalPages}">Next</span>
            </div>
             <div class="col-sm-1">
                <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
                <span th:unless="${currentPage < totalPages}">Last</span>
            </div>
        </div>
    </div>
</div>
</body>
</html>